cachelib==0.6.0
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
dataclasses==0.8
Flask==2.0.3
Flask-Session==0.4.1
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
idna==3.10
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.1
MarkupSafe==2.0.1
numpy==1.19.5
pandas==1.1.5
Pillow==8.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.27.1
scikit-learn==0.23.2
scipy==1.5.4
six==1.17.0
sklearn==0.0
SQLAlchemy==1.4.54
threadpoolctl==3.1.0
torch==1.10.2
torchvision==0.11.3
typing_extensions==4.1.1
urllib3==1.26.20
Werkzeug==2.0.3
wincertstore==0.2
zipp==3.6.0
